<section class="main-1 animated bounceInDown">
	<p><font color = "white">Search results for:<b>"<span class="searching"></span>"</b></font></p>
	<br>
	<div class="posts-1" style="height: 296px;">
		{{#each items}}
			<a href="item">
				<div class="card" align="left">
					<image src="items_samples/20200228_223406.jpg" height="192px" width="192px"><br>
					<p class="item_description">Nintendo Switch</p>
					<p class="item_description">₱ 15,000</p>
				</div>
			</a>
		{{\each}}
	</div>
</section>